# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c6caa65213b894fcc49039e68d5f166739a1ce326fadcb999d03608fe41d7e1547744f8f98998aa1bf050b192a900c62dac9519f6289b24c1dffa8ae48aab526

test:
  secret_key_base: 5c1860a3759cf412151ef2115d4ee0c85e344986421e74e045e23a0672e144e85020a3ab1b62f684b3a83b37b68d51325e091905877a7b342a5f414b94523e8c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
